:root {
  --deep-sky-blue: #00aaff;
  --lime-green: #49dc00;
  --dark-cyan: #009696;
  --light-grey: #848484;
  --dark-grey: #444;
}

.link {
  text-decoration: none;
  color: var(--deep-sky-blue);
  cursor: pointer;
}

.no-link {
  text-decoration: none !important;
  color: var(--bs-dark) !important;
}

.no-hover:hover, .no-hover:focus {
  cursor: pointer;
  text-decoration: none !important;
  color: var(--bs-dark) !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.transition-s {
  transition: 0.4s;
}

.transition-m {
  transition: 0.7s;
}

.transition-l {
  transition: 1s;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

#announcement {
  background-color: var(--dark-cyan);
  padding: 1.5em;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}

footer {
  font-size: 0.8rem;
  text-align: right;
  padding: 2rem 4rem 2rem 0;
  background-color: var(--dark-grey);
  color: white;
}
