{% extends 'admin/base_site.html' %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
  <div class='breadcrumbs'>
    <a href='{% url 'admin:index' %}'>{% translate 'Home' %}</a>
    &rsaquo; <a href='{% url 'admin:app_list' app_label=opts.app_label %}'>{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href='/admin/stock/table/{{table_id}}/categories'>Категории</a>
    &rsaquo; <a href='/admin/stock/table/{{table_id}}/{{category}}/detail'>{{ opts.verbose_name_plural|capfirst }}</a>
  </div>
{% endblock %}

{% block content %}
  <form action='/admin/stock/table/{{table_id}}/{{category}}/detail' method='post'>
    {% csrf_token %}
    <table id='table_details' style='width: 100%; margin-bottom: 10px; border: 1px solid var(--header-bg)'>
      {% for entry in object_list %}
        {% if forloop.counter0|divisibleby:25 %}
        <tr>
          <td style='border: 1px solid var(--header-bg)'></td>
          <td style='border: 1px solid var(--header-bg)'>Модель</td>
          <td style='border: 1px solid var(--header-bg)'>Размер</td>
          <td style='border: 1px solid var(--header-bg)'>Общее</td>
          {% for place in entry.places.keys %}
          <td style='border: 1px solid var(--header-bg)'>{{ place }}</td>
          {% endfor %}
          {% for day in entry.sold %}
          <td style='border: 1px solid var(--header-bg)'>{{ forloop.counter }}</td>
          {% endfor %}
        </tr>
        {% endif %}
        <tr>
          <td style='border: 1px solid var(--header-bg)'>{{ forloop.counter }}.</td>
          <td style='border: 1px solid var(--header-bg)'>
            {{ entry.product }}
            {% if is_admin %}
            <span class='related-widget-wrapper-link add-related' onclick='action("add", "{{entry.product}}", "{{entry.size}}")'>
              <img src='/static/admin/img/icon-addlink.svg' width='10' height='10'>
            </span>
            <span class='related-widget-wrapper-link delete-related' onclick='action("delete", "{{entry.product}}", "{{entry.size}}")'>
              <img src='/static/admin/img/icon-deletelink.svg' width='10' height='10'>
            </span>
            {% endif %}
          </td>
          <td style='border: 1px solid var(--header-bg)'>{{ entry.size }}</td>
          <td style='border: 1px solid var(--header-bg)'>{{ entry.total }}</td>
          {% for place in entry.places.values %}
          <td style='border: 1px solid var(--header-bg)'>{{ place }}</td>
          {% endfor %}
          {% for sold in entry.sold %}
          {% if sold == 0 %}
          <td style='border: 1px solid var(--header-bg)'></td>
          {% else %}
          <td style='border: 1px solid var(--header-bg)'>{{ sold }}</td>
          {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
      {% if is_admin %}
      <tr>
        <td style='border: 1px solid var(--header-bg)'></td>
        <td style='border: 1px solid var(--header-bg)'>
          <input id='product' name='product'>
        </td>
        <td style='border: 1px solid var(--header-bg)'>
          <input id='size' name='size' size="7">
        </td>
        <td style='border: 1px solid var(--header-bg)'>
          <input id='prev' name='prev' size="2">
        </td>
        <td style='border: 1px solid var(--header-bg); border-right: none'>
          <input id='place' name='place' value="Машина" size="4">
        </td>
        <td colspan="10" style='border: 1px solid var(--header-bg); border-right: none'>
          <input id='submit_button' type='submit'>
        </td>
      </tr>
      {% endif %}
      </tbody>
    </table>
    {% if not is_admin %}
    <input id='submit_button' type='submit' hidden>
    <input id='product' name='product' hidden>
    <input id='size' name='size' hidden>
    <input id='prev' name='prev' hidden>
    <input id='place' name='place' hidden>
    {% endif %}
  </form>
  <script>
    const is_admin = {% if is_admin %} true {% else %} false {% endif %}
    const product_input = document.getElementById('product')
    const size_input = document.getElementById('size')
    const prev_input = document.getElementById('prev')
    const place_input = document.getElementById('place')
    const header = document.getElementById('table_details').getElementsByTagName('tr')[0]
    for (let tr of document.getElementsByTagName('tr')) {
      if (tr.firstElementChild.innerText) {
        for (let i = 3; i < (is_admin ? tr.children.length : 4); i++) {
          tr.children[i].addEventListener('click', e => {
            const el = e.target;
            if (el.tagName.toUpperCase() != 'TD' || product_input.value != '') {
              return
            }
            const parent = e.target.parent, text = e.target.innerText;
            const input = document.createElement('input')
            product_input.value = tr.children[1].innerText
            size_input.value = tr.children[2].innerText
            place_input.value = i == 3 ? 'total' : header.children[i].innerText
            prev_input.value = text
            input.setAttribute('name', 'value')
            input.value = text
            e.target.innerText = ''
            el.appendChild(input)
            input.addEventListener('keyup', e => {
              if (e.key === "Escape") {
                el.removeChild(input)
                el.innerText = text
                product_input.value = ''
                size_input.value = ''
                place_input.value = 'Машина'
                prev_input.value = ''
              }
            })
            input.focus()
          })
        }
      }
    }

    const submit_button = document.getElementById('submit_button')
    
    function action(type, product, size) {
      place_input.value = type
      product_input.value = product
      size_input.value = size
      prev_input.value = 1
      submit_button.click()
    }
  </script>
{% endblock %}