.menu-show {
  padding: 0 !important;
  width: 100vw
}

.menu-hide {
  width: 0;
}

.menu-hide > * * {
  display: none !important;
}

.burger, .burger > div {
  width: 12vw
}

.burger > div {
  height: 1.2vw;
  left: 0
}

.burger-sided {
  top: 3.6vw !important;
  width: 0% !important;
  left: 50% !important;
}

.burger-top {
  height: 0.6vw !important;
  transform: rotate(45deg)
}

.burger-bottom {
  height: 0.6vw !important;
  transform: rotate(-45deg)
}

#stock::before {
  width: calc(95vw / 3 * 2);
  height: calc(95vw / 3 * 2);
  margin-left: calc(95vw / 6);
  margin-top: calc(125vw / 6);
}

.section-grid > div.shadow {
  width: 100% !important;
}

.structure-quantity {
  width: 6vw !important;
  height: 6vw !important;
  margin-left: -3vw !important;
}